<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ear"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ear"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.SilentScript"
        tools:targetApi="31">
        <activity
            android:name=".ui.game.gamestart.StartGameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.game.GameDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.library.kata.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.library.kata.KataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.game.GameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.library.huruf.DetailAbjadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.library.huruf.HurufActivity"
            android:exported="false" />
        <activity
            android:name=".GetStarted"
            android:exported="true"
            android:theme="@style/Theme.SilentScript">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.silentscript.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>